:8080 {
  redir /api /api/

  handle_path /api/* {
    reverse_proxy localhost:4242
  }

  handle {
    root * /Users/kh/Projects/github.com/seabearDEV/sandbox/caddy
    file_server
    try_files {path} /index.html
  }
  log {
    output file /Users/kh/Projects/github.com/seabearDEV/sandbox/caddy/logs/access.log {
      roll_size 100mb
      roll_keep 10
    }
    format json
  }
}

:4242 {
  respond `{"response": "API"}`
}
